.body {
    background: #E4F0AB;
    color: black;
}

div.container {
    max-width: 500px;
    margin: 100px auto;
    border: 20px solid #A9BC4F;
    padding: 10px;
    text-align: center;
}

h4 {
    text-transform: uppercase;
}